extends layout
block content
    .page
      div(style='height: 30px;')
      include header
      // Trending products
      section.section.section-md.section-first.bg-default.text-md-left
        .container
          .row.row-50.justify-content-center
            .col-md-10.col-lg-5.col-xl-6
              img(src='images/groupClass.jpeg' alt='' width='519' height='446')
            .col-md-10.col-lg-7.col-xl-6
              h2 #{lit.trainingTitle}
              // Bootstrap tabs
              #tabs-4.tabs-custom.tabs-horizontal.tabs-line
                // Nav tabs
                ul.nav.nav-tabs
                  li.nav-item(role='presentation')
                    a.nav-link.active(href='#tabs-4-1' data-toggle='tab') #{lit.training.who}
                  li.nav-item(role='presentation')
                    a.nav-link(href='#tabs-4-2' data-toggle='tab') #{lit.training.title2}
                  li.nav-item(role='presentation')
                    a.nav-link(href='#tabs-4-3' data-toggle='tab') #{lit.training.title3}
                // Tab panes
                .tab-content
                  #tabs-4-1.tab-pane.fade.show.active
                    p
                      | #{lit.training.paragraph1} #{lit.training.paragraph2}

                    .text-center.text-sm-left.offset-top-30
                      ul.row-16.list-0.list-custom.list-marked.list-marked-sm.list-marked-secondary
                        //- li #{lit.training.basic}
                        //- li #{lit.training.advanced}
                        //- li #{lit.training.behaviour}
                        //- li #{lit.training.puppies}
                        //- li #{lit.training.socialization}
                        //- li #{lit.training.aggresive}
                    .group-md.group-middle
                      a.button.button-width-xl-230.button-primary.button-pipaluk(href='#') #{lit.contact}
                      //- a.button.button-width-xl-310.button-default-outline.button-wapasha(href='contact-us.html') Contact us
                  #tabs-4-2.tab-pane.fade
                    p
                      | #{lit.training.paragraph3}
                    .text-center.text-sm-left.offset-top-30
                      ul.row-16.list-0.list-custom.list-marked.list-marked-sm.list-marked-secondary
                        //- li #{lit.training.basic}
                        //- li #{lit.training.advanced}
                        //- li #{lit.training.behaviour}
                        //- li #{lit.training.puppies}
                        //- li #{lit.training.socialization}
                        //- li #{lit.training.aggresive}
                    .group-md.group-middle
                      a.button.button-width-xl-230.button-primary.button-pipaluk(href='#') #{lit.contact}
                      //- a.button.button-width-xl-310.button-default-outline.button-wapasha(href='contact-us.html') Contact us
                  #tabs-4-3.tab-pane.fade
                    p
                      | #{lit.training.paragraph4}
                    .text-center.text-sm-left.offset-top-30
                      ul.row-16.list-0.list-custom.list-marked.list-marked-sm.list-marked-secondary
                        //- li #{lit.training.basic}
                        //- li #{lit.training.advanced}
                        //- li #{lit.training.behaviour}
                        //- li #{lit.training.puppies}
                        //- li #{lit.training.socialization}
                        //- li #{lit.training.play}
                    .group-md.group-middle
                      a.button.button-width-xl-230.button-primary.button-pipaluk(href='mailto:info@anubis.pet') #{lit.contact}
                      //- a.button.button-width-xl-310.button-default-outline.button-wapasha(href='contact-us.html') Contact us
      // Page Footer
      include footer                    
    