extends layout
block content
    .page
      div(style='height: 30px;')
      include header
      // Trending products
      section.section.section-md.bg-default
        .container
          .row.row-40.justify-content-center
            .col-sm-8.col-md-7.col-lg-6.wow.fadeInLeft(data-wow-delay='0s')
              .product-banner
                img(src='images/box-570x715.jpg' alt='' width='570' height='715')
                .product-banner-content
                  .product-banner-inner
                    h3.text-secondary-1 #{lit.box.tit1}
                    h2.text-primary #{lit.box.tit2}
            .col-md-5.col-lg-6
              .row.row-30.justify-content-center
                .col-sm-6.col-md-12.col-lg-6
                  .oh-desktop
                    // Product
                    article.product.product-2.box-ordered-item.wow.slideInRight(data-wow-delay='0s')
                      .unit.flex-row.flex-lg-column
                        .unit-left
                          .product-figure
                            img(src='images/fluf-pack2.png' alt='' width='270' height='280')
                            .product-button
                              a.button.button-md.button-white.button-ujarak(href='https://store.anubis.pet/product/arma-tu-caja' target="_blank") #{lit.read}
                        .unit-body
                          h6.product-title
                            a(href='#') Fluf in the Box - Arma tu caja
                          .product-price-wrap
                            .product-price.product-price-old €16,90
                            .product-price €15,00
                          a.button.button-sm.button-secondary.button-ujarak(href='https://store.anubis.pet/product/arma-tu-caja' target="_blank") #{lit.read}
                //- .col-sm-6.col-md-12.col-lg-6
                  .oh-desktop
                    // Product
                    article.product.product-2.box-ordered-item.wow.slideInLeft(data-wow-delay='0s')
                      .unit.flex-row.flex-lg-column
                        .unit-left
                          .product-figure
                            img(src='images/flufM.jpg' alt='' width='270' height='280')
                            .product-button
                              a.button.button-md.button-white.button-ujarak(href='https://store.anubis.pet/product/fluf-in-the-box-m' target="_blank") #{lit.read}
                        .unit-body
                          h6.product-title
                            a(href='#') #{lit.box.boxM}
                          .product-price-wrap
                            .product-price €19,50€
                          a.button.button-sm.button-secondary.button-ujarak(href='https://store.anubis.pet/product/fluf-in-the-box-m' target="_blank") #{lit.read}
                .col-sm-6.col-md-12.col-lg-6
                  .oh-desktop
                    // Product
                    article.product.product-2.box-ordered-item.wow.slideInLeft(data-wow-delay='0s')
                      .unit.flex-row.flex-lg-column
                        .unit-left
                          .product-figure
                            img(src='images/flufL.jpg' alt='' width='270' height='280')
                            .product-button
                              //- a.button.button-sm.button-secondary.button-ujarak(href='/flufLarge' target="_blank") #{lit.read}
                              a.button.button-md.button-white.button-ujarak(href='https://store.anubis.pet/product/fluf-in-the-box-l' target="_blank") #{lit.read} 
                        .unit-body
                          h6.product-title
                            a(href='#') #{lit.box.boxL}
                          .product-price-wrap
                            .product-price.product-price-old €24,50
                            .product-price €20,00
                          //- a.button.button-sm.button-secondary.button-ujarak(href='/flufLarge' target="_blank") #{lit.read}
                          a.button.button-md.button-white.button-ujarak(href='https://store.anubis.pet/product/fluf-in-the-box-l' target="_blank") #{lit.read} 
      // Page Footer
      include footer                    
    