extends layoutBack
block content
  include menu
  br
  div#console
    div.admin-lists.clearfix
        table#customersList.table.table-striped.table-bordered
          thead    
            tr#headtag
              th Name
              th Last Name
              th Phone
              th Dog
              th Breed
              th
          tbody
            each dog in dogs
             - var owner = dog.owner[0];
             - var name = (owner && owner.name) ? owner.name : null
             - var lastName = (owner && owner.lastName) ? owner.lastName : null
             - var phone = (owner && owner.phone) ? owner.phone : null
             - var email = (owner && owner.email) ? owner.email : null
             - var ownerId = (owner && owner._id) ? owner._id : null
             tr
              td
                a(href="#" onclick="loadOwnerProfile('"+ownerId+"');") #{name}
              td=lastName
              td=phone
              td
                a(href="#" onclick="loadDogProfile('"+dog._id+"');") #{dog.name}
              td=dog.breed
              td
               a(href="#" onclick="loadAddReservation('"+dog._id+"', '"+ownerId+"', '"+dog.name+"');") Reserve

    div#sideProfile.admin-forms.user-form.clearfix.login-form
        form#formUser(name="addUser", method="post", action="/addUser")
          fieldset
           div
            div.admin-lists
             input(type="text", placeholder="Name", name="name")
            div.admin-lists
             input(type="text", placeholder="Dog's Name", name="dogName")
           div
            div.admin-lists  
             input(type="text", placeholder="Last Name", name="lastName")
            div.admin-lists 
             input(type="text", placeholder="Gender", name="gender")
           div  
            div.admin-lists  
             input(type="text", placeholder="Phone", name="phone")
            div.admin-lists  
             input(type="text", placeholder="Breed", name="breed")
           div
            div.admin-lists   
             input(type="text", placeholder="Address", name="address")
             input(type="text", placeholder="Tag", name="cloudinaryTag")
            div.admin-lists
             input(type="text", placeholder="Latitude", name="latitude")
             input(type="text", placeholder="Longitude", name="longitude") 
             span.radioSpan Neutered
              input(type="radio", name="neutered", value="true")
              span Yes
              input(type="radio", name="neutered", value="false")
              span No
           div
            div.admin-lists  
             input(type="text", placeholder="Email", name="email")
            div.admin-lists
              span.radioSpan Dog Friendly
              input(type="radio", name="dogFriendly", value="true")
              span Yes
              input(type="radio", name="dogFriendly", value="false")
              span No
           div
            div.admin-lists  
             input#input_pass(type="text", placeholder="Source", name="source")
            div.admin-lists
             span.radioSpan People Friendly
              input(type="radio", name="peopleFriendly", value="true")
              span Yes
              input(type="radio", name="peopleFriendly", value="false")
              span No
            //-  input#input_pass(type="text", placeholder="Birth", name="birth")
           div
            div.admin-lists
             textarea(type="text", placeholder="Notes", name="notes")
            div.admin-lists
             textarea(type="text", placeholder="Dogs Notes", name="dogNotes") 
            button.submit.active(type="submit" name="addUser") Add User
  
    script.
      $('#customersList').DataTable( {
        paging: true
      } );

    