extends layout
block content
    .page
      div(style='height: 30px;')
      include header
      // Swiper
      section.section.swiper-container.swiper-slider.swiper-slider-modern(data-loop='true' data-autoplay='3000' data-simulate-touch='true' data-nav='true' data-slide-effect='fade')
        .swiper-wrapper.text-left
          .swiper-slide.context-dark(data-slide-bg='images/slider-allLeash-1920×729.jpg')
            .swiper-slide-caption
              .container
                .row.justify-content-center.justify-content-xxl-start
                  .col-md-10.col-xxl-6
                    .slider-modern-box
                      h1.slider-modern-title
                        span(data-caption-animate='slideInLeft' data-caption-delay='0') #{lit.productsTitle}
                      p(data-caption-animate='fadeInRight' data-caption-delay='300') #{lit.productsSub}
                      .oh.button-wrap
                        a.button.button-primary.button-ujarak(href='/products' data-caption-animate='slideInLeft' data-caption-delay='400') #{lit.read}
          .swiper-slide(data-slide-bg='images/slider-box-arma-1920×729.jpg')
            .swiper-slide-caption
              .container
                .row.justify-content-center.justify-content-xxl-start
                  .col-md-10.col-xxl-6
                    .slider-modern-box
                      h1.slider-modern-title
                        span(data-caption-animate='slideInDown' data-caption-delay='0') #{lit.boxTitle}
                      p(data-caption-animate='fadeInRight' data-caption-delay='400') #{lit.boxSub}
                      .oh.button-wrap
                        a.button.button-primary.button-ujarak(href='https://store.anubis.pet/product/arma-tu-caja' data-caption-animate='slideInUp' data-caption-delay='400') #{lit.read}
          .swiper-slide.context-dark(data-slide-bg='images/slider-adiestramiento-1920×729.jpg')
            .swiper-slide-caption
              .container
                .row.justify-content-center.justify-content-xxl-start
                  .col-md-10.col-xxl-6
                    .slider-modern-box
                      h1.slider-modern-title
                        span(data-caption-animate='slideInDown' data-caption-delay='0') #{lit.trainingTitle}
                      p(data-caption-animate='fadeInRight' data-caption-delay='400') #{lit.trainingSub}
                      .oh.button-wrap
                        a.button.button-primary.button-ujarak(href='/adiestramiento' data-caption-animate='slideInLeft' data-caption-delay='400') #{lit.read}           
          .swiper-slide(data-slide-bg='images/slider-portfolio-1920×729.jpg')
            .swiper-slide-caption
              .container
                .row.justify-content-center.justify-content-xxl-start
                  .col-md-10.col-xxl-6
                    .slider-modern-box
                      h1.slider-modern-title
                        span(data-caption-animate='slideInDown' data-caption-delay='0') #{lit.portfolioTitle}
                      p(data-caption-animate='fadeInRight' data-caption-delay='400') #{lit.portfolioSub}
                      .oh.button-wrap
                        a.button.button-primary.button-ujarak(href='/portfolio' data-caption-animate='slideInUp' data-caption-delay='400') Ver
        // Swiper Navigation
        .swiper-button-prev
        .swiper-button-next
        // Swiper Pagination
        .swiper-pagination.swiper-pagination-style-2
      // Products
      section.section.section-md.bg-default
        .container
          .row.row-40.justify-content-center
            .col-sm-8.col-md-7.col-lg-6.wow.fadeInLeft(data-wow-delay='0s')
              .product-banner
                img(src='images/EchoAllPurpose.jpg' alt='' width='570' height='715')
                .product-banner-content
                  .product-banner-inner
                    h3.text-secondary-1 #{lit.products.our}
                    h2.text-primary #{lit.products.products}
            .col-md-5.col-lg-6
              .row.row-30.justify-content-center
                .col-sm-6.col-md-12.col-lg-6
                  .oh-desktop
                    // Product
                    article.product.product-2.box-ordered-item.wow.slideInRight(data-wow-delay='0s')
                      .unit.flex-row.flex-lg-column
                        .unit-left
                          .product-figure
                            img(src='images/products/allpurpose/allPurposeSquare.jpg' alt='' width='270' height='280')
                            .product-button
                              a.button.button-md.button-white.button-ujarak(href='https://www.amazon.es/dp/B09KS2GRC1/ref=cm_sw_em_r_mt_dp_PMNS8N00DPJWN21AZA18' target='_blank') #{lit.buy}
                        .unit-body
                          h6.product-title
                            a(href='#') #{lit.products.allPurpose}
                          .product-price-wrap
                            //- .product-price.product-price-old 0€
                            .product-price €32,90
                          a.button.button-sm.button-secondary.button-ujarak(href='https://www.amazon.es/dp/B09KS2GRC1/ref=cm_sw_em_r_mt_dp_PMNS8N00DPJWN21AZA18' target='_blank') #{lit.buy}
                .col-sm-6.col-md-12.col-lg-6
                  .oh-desktop
                    // Product
                    article.product.product-2.box-ordered-item.wow.slideInLeft(data-wow-delay='0s')
                      .unit.flex-row.flex-lg-column
                        .unit-left
                          .product-figure
                            img(src='images/HarnessSquare.jpg' alt='' width='270' height='280')
                            .product-button
                              a.button.button-md.button-white.button-ujarak(href=' https://www.amazon.es/dp/B09KWJFRN7/ref=cm_sw_em_r_mt_dp_H2F966WTEE82CAEAZA1R' target='_blank') #{lit.buy}
                        .unit-body
                          h6.product-title
                            a(href='#') #{lit.products.performanceH}
                          .product-price-wrap
                            .product-price €37,90+
                          a.button.button-sm.button-secondary.button-ujarak(href=' https://www.amazon.es/dp/B09KWJFRN7/ref=cm_sw_em_r_mt_dp_H2F966WTEE82CAEAZA1R' target='_blank') #{lit.buy}
                .col-sm-6.col-md-12.col-lg-6
                  .oh-desktop
                    // Product
                    article.product.product-2.box-ordered-item.wow.slideInLeft(data-wow-delay='0s')
                      .unit.flex-row.flex-lg-column
                        .unit-left
                          .product-figure
                            img(src='images/longSquare.jpg' alt='' width='270' height='280')
                            .product-button
                              a.button.button-md.button-white.button-ujarak(href='https://www.amazon.es/dp/B09KWDJVGS/ref=cm_sw_em_r_mt_dp_FRJXJVFKV8CX6TWGNBZ7' target='_blank') #{lit.buy}  
                        .unit-body
                          h6.product-title
                            a(href='#') #{lit.products.callBackLeash}
                          .product-price-wrap
                            .product-price €21,80€
                          a.button.button-sm.button-secondary.button-ujarak(href='https://www.amazon.es/dp/B09KWDJVGS/ref=cm_sw_em_r_mt_dp_FRJXJVFKV8CX6TWGNBZ7' target='_blank') #{lit.buy}
                .col-sm-6.col-md-12.col-lg-6
                  .oh-desktop
                    // Product
                    article.product.product-2.box-ordered-item.wow.slideInRight(data-wow-delay='0s')
                      .unit.flex-row.flex-lg-column
                        .unit-left
                          .product-figure
                            img(src='images/beltSquare.jpg' alt='' width='270' height='280')
                            .product-button
                              a.button.button-md.button-white.button-ujarak(href='https://www.amazon.es/dp/B09KW9GFV1/ref=cm_sw_em_r_mt_dp_E219M8SBBXJ2ZNDJ6KWS' target='_blank') #{lit.buy}
                        .unit-body
                          h6.product-title
                            a(href='#') #{lit.products.trainTreat}
                          .product-price-wrap
                            .product-price €31,90
                          a.button.button-sm.button-secondary.button-ujarak(href='https://www.amazon.es/dp/B09KW9GFV1/ref=cm_sw_em_r_mt_dp_E219M8SBBXJ2ZNDJ6KWS' target='_blank') #{lit.buy}
      // Gallery
      section.section.section-md.bg-default.section-top-image
        .container
          .oh.h2-title
            h2.wow.slideInUp(data-wow-delay='0s') #{lit.gallery}
          .row.row-30(data-lightgallery='group')
            .col-sm-6.col-lg-4
              .oh-desktop
                // Thumbnail Classic
                article.thumbnail.thumbnail-mary.thumbnail-sm.wow.slideInLeft(data-wow-delay='0s')
                  .thumbnail-mary-figure
                    img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='370' height='303')
                  .thumbnail-mary-caption
                    a.icon.fl-bigmug-line-zoom60(href='https://www.youtube.com/watch?v=4oMfQQoSDb8&t=18s' data-lightgallery='item')
                      img(src='images/grid-gallery-1-370x303.jpg' alt='' width='370' height='303')
                    h4.thumbnail-mary-title
                      a(href='#') #{lit.products.allPurpose}
                    a.icon(href='https://www.youtube.com/watch?v=eNvjR7FjJ30' data-lightgallery='item')
                    a.icon(href='https://www.youtube.com/watch?v=8oRkemUBIj4' data-lightgallery='item')
            .col-sm-6.col-lg-4
              .oh-desktop
                // Thumbnail Classic
                article.thumbnail.thumbnail-mary.thumbnail-sm.wow.slideInUp(data-wow-delay='.1s')
                  .thumbnail-mary-figure
                    img(src='images/products/harness/IMG_1197.jpeg' alt='' width='370' height='303')
                  .thumbnail-mary-caption
                    a.icon.fl-bigmug-line-zoom60(href='https://www.youtube.com/watch?v=4DxHCeGFLcQ' data-lightgallery='item')
                      img(src='images/grid-gallery-2-370x303.jpg' alt='' width='370' height='303')
                    h4.thumbnail-mary-title
                      a(href='#') #{lit.products.performanceH}
                    a.icon(href='https://www.youtube.com/watch?v=jylKtzhj_i4' data-lightgallery='item')
                    h4.thumbnail-mary-title
                    a.icon(href='https://www.youtube.com/watch?v=n3BuCJbWPjs' data-lightgallery='item')
            .col-sm-6.col-lg-4
              .oh-desktop
                // Thumbnail Classic
                article.thumbnail.thumbnail-mary.thumbnail-sm.wow.slideInRight(data-wow-delay='.0s')
                  .thumbnail-mary-figure
                    img(src='images/products/longLeash/_RAF5007Small.jpg' alt='' width='370' height='303')
                  .thumbnail-mary-caption
                    a.icon.fl-bigmug-line-zoom60(href='https://www.youtube.com/watch?v=mDUYp8xTH0Y' data-lightgallery='item')
                      img(src='images/grid-gallery-3-370x303.jpg' alt='' width='370' height='303')
                    h4.thumbnail-mary-title
                      a(href='#') #{lit.products.callBackLeash}
                    a.icon(href='https://www.youtube.com/watch?v=8MGcTmaaRbE' data-lightgallery='item')  
            .col-sm-6.col-lg-4
              .oh-desktop
                // Thumbnail Classic
                article.thumbnail.thumbnail-mary.thumbnail-sm.wow.slideInUp(data-wow-delay='.1s')
                  .thumbnail-mary-figure
                    img(src='images/products/belt/_RAF4962Small.jpg' alt='' width='370' height='303')
                  .thumbnail-mary-caption
                    a.icon.fl-bigmug-line-zoom60(href='https://www.youtube.com/watch?v=mCxfvN2-8FY' data-lightgallery='item')
                      img(src='images/grid-gallery-4-370x303.jpg' alt='' width='370' height='303')
                    h4.thumbnail-mary-title
                      a(href='#') #{lit.products.trainTreat}
                    a.icon(href='https://www.youtube.com/watch?v=-Vn_yqXgT5g' data-lightgallery='item')  
      //- section.section.section-md.bg-default.section-top-image
      //-  .container
      //-   .row.row-30.justify-content-center
      //-     .col-sm-6.col-lg-4.wow.fadeInRight(data-wow-delay='0s')
      //-       article.box-icon-ruby
      //-         .unit.box-icon-ruby-body.flex-column.flex-md-row.text-md-left.flex-lg-column.align-items-center.text-lg-center.flex-xl-row.text-xl-left
      //-           .unit-left
      //-             .box-icon-ruby-icon.linearicons-leaf
      //-           .unit-body
      //-             h4.box-icon-ruby-title Psicología canina
      //-     .col-sm-6.col-lg-4.wow.fadeInRight(data-wow-delay='.1s')
      //-       article.box-icon-ruby
      //-         .unit.box-icon-ruby-body.flex-column.flex-md-row.text-md-left.flex-lg-column.align-items-center.text-lg-center.flex-xl-row.text-xl-left
      //-           .unit-left
      //-             .box-icon-ruby-icon.linearicons-shovel
      //-           .unit-body
      //-             h4.box-icon-ruby-title Profesionalidad
      //-     .col-sm-6.col-lg-4.wow.fadeInRight(data-wow-delay='.2s')
      //-       article.box-icon-ruby
      //-         .unit.box-icon-ruby-body.flex-column.flex-md-row.text-md-left.flex-lg-column.align-items-center.text-lg-center.flex-xl-row.text-xl-left
      //-           .unit-left
      //-             .box-icon-ruby-icon.linearicons-sun
      //-           .unit-body
      //-             h4.box-icon-ruby-title Trabajo en equipo
      // Section CTA 2
      section.section.text-center
        .parallax-container(data-parallax-img='images/products/allpurpose/_RAF4918Small.jpg')
          .parallax-content.section-xl.section-inset-custom-1.context-dark.bg-overlay-40
            .container
              h2.oh.font-weight-normal
                span.d-inline-block.wow.slideInDown(data-wow-delay='0s') Correa All Purpose - 9 usos en 1
              p.oh.big.text-width-large
                span.d-inline-block.wow.slideInUp(data-wow-delay='.2s')
                  | Nuestra correa más versátil: corra corta, larga, estándard, regulable, manos libres, bozal, arnés de emergencia,  para atar, correa de adiestramiento.
              a.button.button-primary.button-icon.button-icon-left.button-ujarak.wow.fadeInUp(href='https://www.youtube.com/watch?v=4oMfQQoSDb8&t=18s' data-lightgallery='item' data-wow-delay='.1s')
                span.icon.mdi.mdi-play
                | Ver el video
      // Section CTA 2
      section.section.text-center
        .parallax-container(data-parallax-img='images/groupClass.jpeg')
          .parallax-content.section-xl.section-inset-custom-1.context-dark.bg-overlay-40
            .container
              h2.oh.font-weight-normal
                span.d-inline-block.wow.slideInDown(data-wow-delay='0s') Nuestras clases grupales
              p.oh.big.text-width-large
                span.d-inline-block.wow.slideInUp(data-wow-delay='.2s')
                  | Nuestras clases grupales se basan en ejercicios de obediencia básica y avanzada sumando el desafío de las distracciones y estímulos de estar entre muchos perros con el bonus de socializar y mejorar las habilidades de manada.
              a.button.button-primary.button-icon.button-icon-left.button-ujarak.wow.fadeInUp(href='https://youtu.be/PgL_YHsqyWM' data-lightgallery='item' data-wow-delay='.1s')
                span.icon.mdi.mdi-play
                | Ver presentación
      // Team of professionals
      section.section.section-md.bg-default
        .container
          .oh
            h2.wow.slideInUp(data-wow-delay='0s') #{lit.team}
          .row.row-30.justify-content-center
            .col-md-6.col-lg-4.col-xl-4.wow.fadeInRight(data-wow-delay='0s')
              // Team Classic
              article.team-classic
                a.team-classic-figure(href='#')
                  img(src='images/team-abdallah-370x406.jpeg' alt='' width='370' height='406')
                .team-classic-caption
                  h5.team-classic-name
                    a(href='#') Abdallah Sahili
                  p.team-classic-status Director
            .col-md-6.col-lg-4.col-xl-4.wow.fadeInRight(data-wow-delay='.1s')
              // Team Classic
              article.team-classic
                a.team-classic-figure(href='#')
                  img(src='images/team-talal-370x406.jpg' alt='' width='370' height='406')
                .team-classic-caption
                  h5.team-classic-name
                    a(href='#') Talal Sahili
                  p.team-classic-status Product Development
            .col-md-6.col-lg-4.col-xl-4.wow.fadeInRight(data-wow-delay='.2s')
              // Team Classic
              article.team-classic
                a.team-classic-figure(href='#')
                  img(src='images/team-malena-370x406.jpeg' alt='' width='370' height='406')
                .team-classic-caption
                  h5.team-classic-name
                    a(href='#') Malena Eichenberg
                  p.team-classic-status Developer
          .row.row-30.justify-content-center
            .col-md-6.col-lg-4.col-xl-4.wow.fadeInRight(data-wow-delay='.1s')
              // Team Classic
              article.team-classic
                a.team-classic-figure(href='#')
                  img(src='images/team-sirka-370x406.jpg' alt='' width='370' height='406')
                .team-classic-caption
                  h5.team-classic-name
                    a(href='#') Sirka
                  p.team-classic-status Adiestradora
            .col-md-6.col-lg-4.col-xl-4.wow.fadeInRight(data-wow-delay='.2s')
              // Team Classic
              article.team-classic
                a.team-classic-figure(href='#')
                  img(src='images/team-jedi-370x406.jpeg' alt='' width='370' height='406')
                .team-classic-caption
                  h5.team-classic-name
                    a(href='#') Jedi
                  p.team-classic-status Adiestrador
            .col-md-6.col-lg-4.col-xl-4.wow.fadeInRight(data-wow-delay='0s')
              // Team Classic
              article.team-classic
                a.team-classic-figure(href='#')
                  img(src='images/team-echo-370x406.jpeg' alt='' width='370' height='406')
                .team-classic-caption
                  h5.team-classic-name
                    a(href='#') Echo
                  p.team-classic-status Modelo            
      // About us
      //- section.section
      //-   .parallax-container(data-parallax-img='images/bg-parallax-2.jpg')
      //-     .parallax-content.section-xl.context-dark.bg-overlay-68
      //-       .container
      //-         .row.row-lg.row-50.justify-content-center.border-classic.border-classic-big
      //-           .col-sm-6.col-md-5.col-lg-3.wow.fadeInLeft(data-wow-delay='0s')
      //-             .counter-creative
      //-               .counter-creative-number
      //-                 span.counter 12
      //-                 span.icon.counter-creative-icon.fl-bigmug-line-trophy55
      //-               h6.counter-creative-title Awards
      //-           .col-sm-6.col-md-5.col-lg-3.wow.fadeInLeft(data-wow-delay='.1s')
      //-             .counter-creative
      //-               .counter-creative-number
      //-                 span.counter 2
      //-                 span.symbol k
      //-                 span.icon.counter-creative-icon.fl-bigmug-line-up104
      //-               h6.counter-creative-title Products
      //-           .col-sm-6.col-md-5.col-lg-3.wow.fadeInLeft(data-wow-delay='.2s')
      //-             .counter-creative
      //-               .counter-creative-number
      //-                 span.counter 679
      //-                 span.icon.counter-creative-icon.fl-bigmug-line-sun81
      //-               h6.counter-creative-title Happy Clients
      //-           .col-sm-6.col-md-5.col-lg-3.wow.fadeInLeft(data-wow-delay='.3s')
      //-             .counter-creative
      //-               .counter-creative-number
      //-                 span.counter 13
      //-                 span.icon.counter-creative-icon.fl-bigmug-line-user143
      //-               h6.counter-creative-title Farmers
            
          //- .row.row-30(data-lightgallery='group')
            //- .col-sm-6.col-lg-4
            //-   .oh-desktop
                // Thumbnail Classic
            // SnapWidget
            //- iframe.snapwidget-widget(src='https://snapwidget.com/embed/901361' allowtransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden;  width:595px; height:430px; margin: auto;')
      //- a.section.section-banner(href='https://www.templatemonster.com/intense-multipurpose-html-template.html' style='background-image: url(images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/background-03-1920x310.jpg) 1x, url(images/banner/background-03-3840x620.jpg) 2x )')
        img(src='images/banner/foreground-03-1600x310.png' srcset='images/banner/foreground-03-1600x310.png 1x, images/banner/foreground-03-3200x620.png 2x' alt='' width='1600' height='310')
      // Page Footer
      include footer
