extends layout
block content
    .page
      div(style='height: 30px;')
      include header
      // Trending products
      section.section.section-md.bg-default
        .container
          .row.row-50
            .col-lg-6
              .slick-product
                // Slick Carousel
                .carousel-parent.slick-initialized.slick-slider(data-swipe='true' data-items='1' data-child='#child-carousel' data-for='#child-carousel')
                  .slick-list.draggable(aria-live='polite')
                    .slick-track(style='opacity: 1; width: 1275px; transform: translate3d(0px, 0px, 0px);' role='listbox')
                      .item.slick-slide.slick-current.slick-active(style='width: 425px;' tabindex='-1' role='option' aria-describedby='slick-slide00' data-slick-index='0' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/anubisScale1459.png' alt='' width='530' height='530')
                      //- .item.slick-slide(style='width: 425px;' tabindex='-1' role='option' aria-describedby='slick-slide01' data-slick-index='1' aria-hidden='true')
                      //-   .slick-product-figure
                      //-     img(src='images/_RAF4918Small.jpg' alt='' width='530' height='480')
                      //- .item.slick-slide(style='width: 425px;' tabindex='-1' role='option' aria-describedby='slick-slide02' data-slick-index='2' aria-hidden='true')
                      //-   .slick-product-figure
                      //-     img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='530' height='480')
                //- #child-carousel.child-carousel.slick-initialized.slick-slider(data-for='.carousel-parent' data-arrows='true' data-items='3' data-sm-items='3' data-md-items='3' data-lg-items='3' data-xl-items='3' data-slide-to-scroll='1' data-md-vertical='true')
                  .slick-list.draggable(aria-live='polite')
                    .slick-track(style='opacity: 1; width: 438px; transform: translate3d(0px, 0px, 0px);' role='listbox')
                      .item.slick-slide.slick-active.slick-current(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide10' data-slick-index='0' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/allPurposeSquare.jpg' alt='' width='169' height='152')
                      .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide11' data-slick-index='1' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')
                      .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide12' data-slick-index='2' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')
                      //- .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide12' data-slick-index='2' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')
                      //- .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide12' data-slick-index='2' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')
                      //- .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide12' data-slick-index='2' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')            
            .col-lg-6
              .single-product
                h3 #{lit.nftTitle}
                p
                  | Holders of the Anubis NFTs will have access to group and private consultations on dog training. Mint from the link below!

                  section.section.section-md.bg-default
                    .container
                      .row.row-40.justify-content-center
                        .col-md-5.col-lg-6
                          .row.row-30.justify-content-center
                            .col-sm-6.col-md-12.col-lg-6
                              .oh-desktop
                                // Product
                                article.product.product-2.box-ordered-item.wow.slideInRight(data-wow-delay='0s')
                                  .unit.flex-row.flex-lg-column
                                    .unit-left
                                      .product-figure
                                        img(src='images/Moneda_perspectiva.png' alt='' width='270' height='280')
                                        .product-button
                                          a.button.button-md.button-white.button-ujarak(href='https://opensea.io/assets/ethereum/0x495f947276749ce646f68ac8c248420045cb7b5e/86160759489232989910277805663759115955220857095160457927745785555701305704449' target='_blank') #{lit.buy}
                                    .unit-body
                                      h6.product-title
                                        a(href='#') Anubis Coin
                                      a.button.button-sm.button-secondary.button-ujarak(href='https://opensea.io/assets/ethereum/0x495f947276749ce646f68ac8c248420045cb7b5e/86160759489232989910277805663759115955220857095160457927745785555701305704449' target='_blank') #{lit.buy}
                            .col-sm-6.col-md-12.col-lg-6
                              .oh-desktop
                                // Product
                                article.product.product-2.box-ordered-item.wow.slideInLeft(data-wow-delay='0s')
                                  .unit.flex-row.flex-lg-column
                                    .unit-left
                                      .product-figure
                                        img(src='images/anubisScale.png' alt='' width='270' height='280')
                                        .product-button
                                          a.button.button-md.button-white.button-ujarak(href='https://www.launchmynft.io/collections/GhFcNCfC7mtQJThqVyah6SHRVcJ8DBCpu1Ch2QeBvQKZ/r1TJcYwofEFPwYmOrDge' target='_blank') #{lit.buy}
                                    .unit-body
                                      h6.product-title
                                        a(href='#') Anubis Scale
                                      .product-price-wrap
                                        //- .product-price €37,90+
                                      a.button.button-sm.button-secondary.button-ujarak(href='https://www.launchmynft.io/collections/GhFcNCfC7mtQJThqVyah6SHRVcJ8DBCpu1Ch2QeBvQKZ/r1TJcYwofEFPwYmOrDge' target='_blank') #{lit.buy}
                .divider.divider-30
                .group-sm.group-middle
      // Page Footer
      include footer                    
    