extends layoutBack
block content
  h3 Reservation for #{reservation.dogName}
    p Number of days: #{reservation.period}
    p Price per day: #{reservation.priceDay}
    p Pickup: #{reservation.pickup} - Price: #{reservation.pricePickup}
    p Delivery: #{reservation.delivery} - Price: #{reservation.priceDelivery}
    - var initDate = moment(reservation.init).format('dddd MMMM Do, YYYY, h:mm a');
    - var endDate = moment(reservation.end).format('dddd MMMM Do, YYYY, h:mm a');
    p Dates: #{initDate} - #{endDate}
    p Total price: #{reservation.priceTotal}


  form#formReservation(name="addReservation", method="post", action="/addReservation")
    fieldset
      div
      div.admin-lists
        label Modify Price
        input(type='text', name="newPrice", value=reservation.priceTotal)
        input(type="hidden", value=reservation, name="reservation")
      button.submit.active(type="submit" name="addReservation") Confirm Reservation
      a(href="/adminConsole") Cancel Reservation

  script.